
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h5>Contract List</h5>


        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <br />
        <br />
        <span id="locationmunicipalitylist"></span>
        <div>

        </div>

    </div>

    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table id="contracttable" class="table table-hover">


                <thead style="height:46px;">
                    <tr>

                        <th style="display:none;">contractID</th>
                        <th>ContractorName</th>
                        <th>location_municipality</th>
                        <th>location_barangay</th>
                        <th>location_sitio</th>
                        <th>area</th>
                        <th>survival_rate</th>




                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>




<script>
    $(window).ready(function () {
        Contract();
    });
</script>