

@foreach (var adminnameinviewprofile in Model)
{

    if (adminnameinviewprofile.FilePath == null)
    {
        <div class="user-menu" style="cursor: pointer;">
            <img class="user-image" src="~/Images/city-hall.png" style="width: 45px; height: 45px; border-radius: 50%; margin: 6px 0px; " />
            <span>@adminnameinviewprofile.Name</span>
        </div>
    }
    else
    {
        <div class="user-menu" style="cursor: pointer;">
            <img src="@adminnameinviewprofile.FilePath" style="width: 45px; height: 45px; border-radius: 50%; margin: 6px 0px;" />
            <span style="cursor: pointer; color: #fff;">@adminnameinviewprofile.Name</span>
        </div>
    }





}