

@foreach (var showname in Model)
{


    <h5>
        WELCOME! @showname.Name
    </h5>
    <h5>
        YOUR USERNAME IS @showname.UserName
    </h5>
    <h5>
        asd @showname.RoleID
    </h5>




}