
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h5>Project List</h5>


        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>

   

    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table id="projecttable" class="table table-hover">


                <thead style="height:46px;">
                    <tr>

                        <th>Area</th>
                        <th>SiteCode</th>
                        <th>location Municipality</th>
                        <th>Location Barangay</th>
                        <th>year form</th>
                        <th>Penro</th>
                        <th>Cenro</th>
                        <th>Region</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>




<script>
    $(window).ready(function () {
        Project();
    });
    </script>