
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}



@*BUTTON ONLY CLICK START CREATE ACCOUNT *@
<br />
<form-group>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">CREATE ACCOUNT</button>
</form-group>

<!---->





@*CREATE ACCOUNT IN MODAL *@
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Account</h4>
            </div>
            <div class="modal-body">
                <form id="createaccount" enctype="multipart/form-data">

                    <div class="form-group" style="display:none;">
                        <label for="name">Id</label>
                        <input type="text" class="form-control" name="id" id="id" value="" />
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="Name" id="Name" value="" />
                        </div>
                        <div class="form-group">
                            <label for="name">UserName</label>
                            <input type="text" class="form-control" name="UserName" id="UserName" value="" onchange="UserCheck()" required>
                            <p id="Status" />
                        </div>
                        <div class="form-group">
                            <label for="name">Image</label>
                            <input type="file" class="form-control" id="FilePath" name="FilePath" accept="image/*" />
                            <input type="hidden" class="form-control" name="FileName" id="FileName">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="Email" id="Email" value="" />
                        </div>

                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control" name="Password" id="Password" value="" required>

                        </div>
                        <div class="form-group">
                            <label for="RoleID">Role</label>
                            <select class="form-control" style="width:100%" name="roleId" id="roleId">
                                <option value="">Please Select a Role</option>
                            </select>


                        </div>
                    </div>
                    <div class="text-center">

                        <button class="btn btn-primary btn-sm" id="btnsubmit" type="submit">Save</button>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@*EDIT ACCOUNT IN MODAL*@
<div id="editAccountModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Account</h4>
            </div>
            <div class="modal-body">
                <form id="editaccount">
                    <div class="col-md-6">
                        <div class="form-group" style="display:none;">
                            <label for="name">Id</label>
                            <input type="text" class="form-control" name="id" id="id" value="" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="email" id="email" value="" />
                        </div>
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control" name="userName" id="userName" value="" />
                        </div>
                    </div>
                    <div class="text-center">

                        <button class="btn btn-primary btn-sm" id="btnsubmit" type="submit">Save</button>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@*DELETE ACCOUNT IN MODAL *@
<div class="modal fade" id="deleteAccountModal">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title d-flex justify-content-between modal-title" style="padding:0;">Delete Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="deleteaccount">
                <div class="modal-body">
                    <h5 class="card-subtitle">Are you sure you want to Delete This Account ?</h5>
                </div>
                <div class="modal-footer coolTZ">
                    <input type="hidden" name="DeleteAccountId" id="DeleteAccountId" />

                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <a href="#" class="btn btn-success" id="btnAccounteDelete">CONFIRM</a>
                </div>
            </form>
        </div>
    </div>
</div>






@*DATATABLES *@
<div class="col-md-12">
    <br />
    <table id="usertable" class="table table-condensed" style="width:100%;background-color:whitesmoke;">


        <thead style="height:46px;">
            <tr>
                @*<th>Id</th>*@
                <th class="bg-primary text-white" style="display:none;">Id</th>
                <th class="bg-primary text-white">NAME</th>
                <th class="bg-primary text-white">EMAIL</th>
                <th class="bg-primary text-white">USERNAME</th>
                <th class="bg-primary text-white">ROLE</th>
                <th class="bg-primary text-white">ACTION</th>
                <th class="bg-primary text-white">IMAGE</th>

            </tr>
        </thead>
    </table>
</div>








<script>
    $(window).ready(function () {
        CreateAccount();
    });
</script>


@*check username exist*@
<script>
    function UserCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckUsernameAvailability", "Account")",

            {
                userdata: $("#UserName").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                $("#UserName").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">That name is taken.Try Another.</font>');
                $("#UserName").css("border-color", "Red");
            }
        });
    }


</script>

