
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<form-group>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">CREATE ACCOUNT</button>
</form-group>





<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Create Account</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createaccount">
                    <div class="form-group">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="Name" id="Name" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Email</label>
                                <input type="email" class="form-control" name="Email" id="Email" value="" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">UserName</label>
                                <input type="text" class="form-control" name="UserName" id="UserName" value="" required>
                            </div>

                            <div class="form-group">
                                <label for="name">Password</label>
                                <input type="password" class="form-control" name="Password" id="Password" value="" required>
                            </div>

                            <div class="form-group">
                                <label for="RoleID">Role</label>
                                <select class="form-control" style="width:100%" name="roleId" id="roleId">
                                    <option value="">Please Select a Role</option>
                                </select>


                            </div>
                            <br />
                        </div>


                    </div>

                    <div class="text-center">

                        <button class="btn btn-primary btn-sm" id="btnsubmit" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <br />
    <table id="usertable" class="table table-condensed" style="width:100%;background-color:whitesmoke;">


        <thead style="height:46px;">
            <tr>
                @*<th>Id</th>*@
                <th class="bg-primary text-white" style="display:none;">Id</th>
                <th class="bg-primary text-white">name</th>
                <th class="bg-primary text-white">email</th>
                <th class="bg-primary text-white">userName</th>
                <th class="bg-primary text-white">roleID Number</th>

            </tr>
        </thead>
    </table>
</div>


<script>
    $(window).ready(function () {
        CreateAccount();
    });
</script>
